<html>
    <head>
        <title>Add a new user</title>
        <style>
            body {
                font-family: arial, sans-serif;
            }
            .messages {
                color: red;
            }
        </style>
    </head>
    <body>
        {% if messages %}
        <p class="messages">Errors:</p>
        <ul class="messages">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h1>Add a new user</h1>
        <form action="{% url 'users:create' %}" method="POST">
            {% csrf_token %}
            <label for="first_name">First name:</label><br>
            <input type="text" name="first_name" id="first_name">
            <br><br>
            <label for="last_name">Last name:</label><br>
            <input type="text" name="last_name" id="last_name">
            <br><br>
            <label for="email">Email:</label><br>
            <input type="text" name="email" id="email">
            <br><br>
            <input type="submit" value="Create">
        </form>
        <p><a href="{% url 'users:index' %}">Go Back</a></p>
    </body>
</html>